version: '3.4'

networks:
  loki:

services:
  albiberto:
    environment:
      - ASPNETCORE_ENVIRONMENT=Docker
    ports:
      - "5000:80"
    networks:
      - loki
      
  loki:
    ports:
      - "3100:3100"
    volumes:
      - ./infrastructure/loki/loki-config.yaml:/mnt/config/loki-config.yaml
    command: -config.file=/mnt/config/loki-config.yaml
    networks:
      - loki

  promtail:
    volumes:
      - ./infrastructure/promtail/log:/var/log
      - ./infrastructure/promtail/promtail-config.yaml:/mnt/config/promtail-config.yaml
    command: -config.file=/mnt/config/promtail-config.yaml
    networks:
      - loki

  grafana:
    ports:
      - "3000:3000"
    volumes:
      - ./infrastructure/grafana:/etc/grafana
    networks:
      - loki
