version: '3.4'
    
services:
  albiberto:
    environment:
      - ASPNETCORE_ENVIRONMENT=Docker
    ports:
      - ${ALBIBERTO_EXTERNAL_PORT-5000}:${ALBIBERTO_INTERNAL_PORT-80}
 
  postgres:
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - ${POSTGRES_PORT-5432}:${POSTGRES_PORT-5432}

  postgres-exporter:
    ports:
      - ${POSTGRES_EXPORTER_PORT-9187}:${POSTGRES_EXPORTER_PORT-9187}
    environment:
      DATA_SOURCE_NAME: ${DATA_SOURCE_NAME}

  loki:
    ports:
      - ${LOKI_PORT-3100}:${LOKI_PORT-3100}
    volumes:
      - ./infrastructure/loki/loki-config.yaml:/mnt/config/loki-config.yaml
    command: -config.file=/mnt/config/loki-config.yaml

  grafana:
    ports:
      - ${GRAFANA_PORT-3000}:${GRAFANA_PORT-3000}
    volumes:
      - ./infrastructure/grafana:/etc/grafana

  node-exporter:
    ports:
      - ${NODE_EXPORTER_PORT-9100}:${NODE_EXPORTER_PORT-9100}
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.rootfs=/rootfs'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'

  prometheus:
    ports:
      - ${PROMETHEUS_PORT-9090}:${PROMETHEUS_PORT-9090}
    volumes:
      - ./infrastructure/prometheus/prometheus.yml:/mnt/config/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - '--config.file=/mnt/config/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--web.enable-lifecycle'

